body{
    all:unset;
    /* font-family: "Nunito", sans-serif; */
    font-family: "Nunito Sans", sans-serif; 
}

p{
    all:unset;
}

.discount-header {
    background-color: #005CFF;
    color: white;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 700;
}

.discount-header p :first-child {
    background: #6220C1;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}

.discount-header p :last-child {
    font-weight: 300;
    font-style: italic;
}
