footer {
  margin-top: 40px;
  padding-bottom: 20px;
}

.footer-container {
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #f5f5f5;
}

.footer-logo {
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 40px;
}

.footer-item {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 16px;
}

.footer-logo > div:first-of-type {
  display: flex;
  gap: 40px;
}

.footer-item-title {
  display: flex;
  justify-content: space-between;
}

.footer-item-categories {
  color: #303030;
  font-weight: 400;

  max-height: 0;
  overflow: hidden;
  transition: all 250ms;
}

/* Footer métodos pagamento */

.payment-methods {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  justify-content: center;
}

.payment-methods img {
  object-fit: contain;
}

/* Footer patrocinadores */
.sponsors {
  padding-left: 16px;
  padding-right: 16px;
}

.sponsors > p {
  font-size: 12px;
  color: #303030;
  line-height: 20px;
}

.sponsors > div {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
}

.sponsors > div > img {
  object-fit: contain;
  max-width: 55px;
}

/* Estilos Desktop */
/* Pequeno */
/* @media (min-width: 768px) {
} */

/* Media */
@media (min-width: 1024px) {
  footer {
    margin-top: 40px;
    padding-bottom: 20px;
  }

  .footer-container {
    padding-bottom: 64px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: #f5f5f5;
  }

  .footer-container > div:first-of-type {
    display: flex;
    justify-content: space-between;

    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    padding-right: 22px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;

    flex: 3;
  }

  .footer-logo {
    width: fit-content;
    display: flex;
    flex-direction: column;

    justify-content: left;
    align-items: baseline;

    gap: 40px;

    flex: 1;
  }

  .footer-logo > div:first-of-type {
    display: flex;
    gap: 40px;
  }

  .footer-item {
    padding: 0px;
    border: none;

    max-width: 245px;

    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer-item-title {
    display: flex;
    justify-content: space-between;
  }

  .footer-item-categories {
    max-height: fit-content;
  }

  .footer-item-categories > h5 {
    color: #303030;
    font-weight: 400;
    line-height: 28px;
    font-size: 14px;
  }

  /* Footer métodos pagamento */

  .payment-methods {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    justify-content: center;
  }

  .payment-methods img {
    object-fit: contain;
  }

  /* Footer patrocinadores */
  .sponsors {
    font-size: 12px;

    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    padding-right: 22px;
  }

  .sponsors > div {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 40px;

    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .sponsors > div > img {
    object-fit: contain;
    max-width: 55px;
  }
}

/* Desktops grandes */
@media (min-width: 1280px) {
}
